updates/
ignore/
exclude/
addToCompile/ffmpeg.dll
addToCompile/icudtl.dat
addToCompile/locales/en-US.pak
addToCompile/locales/en-GB.pak
addToCompile/nw.dll
files/mbs_updater.dat.tmp
*.tmp
files/bin/mbs_sync.exe
files/bin/mbs_scan.exe
files/mbs_updater.exe
deploy/setup_mbs_offline.dat
